<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="conexion" connectionString="data source=pine.arvixe.com;initial catalog=Sebastianvz_Verificador;user id=SebastianVz_Verificador;password=Verificador123" providerName="System.Data.SqlClient" />-->
    <add name="conexion" connectionString="data source=pine.arvixe.com;initial catalog=Sebastianvz_Verificador;user id=SebastianVz_Verificador;password=Verificador123" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>