
@CHARSET "UTF-8";

/*
        ____________________________*/

html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 60px; /* espace pour la navbar haute */
}

/* colonne de hauteur equivalentes */
.row-eq-height {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex: 0 0 auto;
}

    .row-eq-height > div[class*='col-'] {
        background-color: #eee;
    }



/* Menu bar options styles
        -------------------------------------------------- */


#collapseDisplayOptions a {
    padding-bottom: 0.7%;
    padding-left: 18%;
    padding-right: 0%;
    padding-top: 0.7%;
}

/* canvas drawer
        ---------------------------------*/


#structure-content {
    padding: 0; /* le canvas contenu doit couvrir toute la zone */
    margin: 0; /* le canvas contenu doit couvrir toute la zone */
    border: 1px solid blue;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}


#structure-drawer {
    width: 100%;
    height: auto;
}

.menu-parent.active {
    background: #337ab7;
    color: white;
}


#tickets-accordion {
    max-height: 500px;
    overflow-y: auto;
}

    #tickets-accordion a.menuitem {
        cursor: pointer;
        color: gray;
        padding: 10px 5px;
    }

        #tickets-accordion a.menuitem label {
            cursor: inherit;
        }

    #tickets-accordion a.active {
        background: #d6d6d6;
        border-radius: 3px;
        color: #3a3a3a;
    }

#t-tickets {
    padding: 2px;
    min-height: 200px;
    max-height: 550px;
    overflow-y: auto;
}

.item-ticket {
    width: 8%;
    float: left;
    text-align: center;
    padding: 10px 10px;
    margin: 2px;
    background: #f0f8ff;
    border-radius: 5px;
    cursor: pointer;
}

    .item-ticket p {
        padding: 5px 5px;
    }

    .item-ticket.active {
        background: #ffe4c4;
    }

.impreso {
    background: #828282;
    color: #a9a9a9;
}

.impreso_defectuoso {
    background: red;
    color: #a9a9a9;
}

.reimpreso {
    background: #ff7c7c;
    color: #c5c5c5;
}

.en_cola {
    background: #33ffaa;
    color: #474bff;
}

#sidebarRight .btn {
    text-align: left;
}

#tickets-accordion .range-tickets {
    width: 100%;
}

    #tickets-accordion .range-tickets div {        
        display: inline;
        height: 6px;
    }

#tickets-accordion .left {
    float: left;
    background: red;
}

#tickets-accordion .right {
    float: right;
    background: blue;
}
