USE [verificador]
GO
/****** Object:  Table [dbo].[CanalesVenta]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CanalesVenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[canalesVentaEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canalesVentaEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idevento] [int] NULL,
	[idcanal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categorias]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](200) NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[verCodigoArtesEscenicas] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[categoriasEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriasEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEvento] [int] NULL,
	[idCategoria] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ciudades]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[iddepartamento] [int] NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
	[codigo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[clientes]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoPersona_id] [int] NOT NULL,
	[tipoDocumento_id] [int] NOT NULL,
	[identificacion] [varchar](100) NOT NULL,
	[primerNombre] [varchar](200) NOT NULL,
	[segundoNombre] [varchar](200) NULL,
	[primerApellido] [varchar](200) NOT NULL,
	[segundoApellido] [varchar](200) NULL,
	[fechaNacimiento] [smalldatetime] NOT NULL,
	[genero_id] [int] NOT NULL,
	[email] [varchar](200) NOT NULL,
	[celular] [varchar](100) NOT NULL,
	[telefonoCasa] [varchar](100) NULL,
	[telefonoOficina] [varchar](100) NULL,
	[jornadaEntrega] [varchar](100) NULL,
	[idCreatorby] [int] NULL,
	[dateCreated] [date] NULL,
	[idRetiredby] [int] NULL,
	[dateRetired] [date] NULL,
	[idChangedby] [int] NULL,
	[dateChanged] [date] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK__clientes__3213E83F35A17576] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[consumo]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[consumo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[valor] [money] NULL,
	[descripcion] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[departamentos]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[idpais] [int] NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
	[codigo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[direccionesClientes]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direccionesClientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ubicacion] [varchar](500) NOT NULL,
	[codigoPostal] [varchar](50) NULL,
	[ciudad_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[idCreatorby] [int] NULL,
	[dateCreated] [date] NULL,
	[idRetiredby] [int] NULL,
	[dateRetired] [date] NULL,
	[idChangedby] [int] NULL,
	[dateChanged] [date] NULL,
	[activo] [bit] NOT NULL,
 CONSTRAINT [PK__direccio__3213E83F29A0899F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[empresarios]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tipoEmpresa_id] [int] NULL,
	[razonSocial] [varchar](200) NULL,
	[tipoDocumento_id] [int] NULL,
	[identificacion] [varchar](100) NULL,
	[tipoPersona_id] [int] NULL,
	[direccion] [varchar](300) NULL,
	[ciudad_id] [int] NULL,
	[telefono] [varchar](100) NULL,
	[celular] [varchar](100) NULL,
	[emailNotificacion] [varchar](200) NULL,
	[numeroRegistroArtesEscenicas] [varchar](100) NULL,
	[nombreRL] [varchar](200) NULL,
	[apellidosRL] [varchar](200) NULL,
	[tipoDocumentoRL_id] [int] NULL,
	[identificacionRL] [varchar](100) NULL,
	[sexo_idRL] [int] NULL,
	[emailRL] [varchar](200) NULL,
	[direccionRL] [varchar](300) NULL,
	[ciudad_idRL] [int] NULL,
	[telefonoRL] [varchar](100) NULL,
	[celularRL] [varchar](100) NULL,
	[ventasWebReacudoDirecto] [bit] NULL,
	[crateDate] [smalldatetime] NULL,
	[bloqueado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadoImpresion]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoImpresion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[etapasVentaEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etapasVentaEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
	[descripcion] [varchar](500) NULL,
	[tipo] [varchar](20) NULL,
	[fechaInicial] [smalldatetime] NULL,
	[fechaFinal] [smalldatetime] NULL,
	[idevento] [int] NULL,
	[LlevaCodigo] [bit] NULL,
	[Codigo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eventos]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
	[multifuncion] [bit] NULL,
	[cantidadFunciones] [int] NULL,
	[fechaInicial] [smalldatetime] NULL,
	[fechaFinal] [smalldatetime] NULL,
	[empresario_id] [int] NULL,
	[tipoEvento] [int] NULL,
	[foto] [nvarchar](100) NULL,
	[descripcion] [nvarchar](max) NULL,
	[edadMinima] [int] NULL,
	[eventoPublico] [bit] NULL,
	[tipoRecaudo_id] [int] NULL,
	[entradasxPedidoOcompra] [int] NULL,
	[entradasxUsuario] [int] NULL,
	[aplicaServicio] [bit] NULL,
	[cantidadDiasValides] [int] NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[AforoTotal] [int] NULL,
	[Estado] [varchar](20) NULL,
	[urlVideo] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[funcionesEventos]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionesEventos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idevento] [int] NULL,
	[fechaIncial] [smalldatetime] NULL,
	[fechaFinal] [smalldatetime] NULL,
	[descripcion] [varchar](1000) NULL,
	[label] [varchar](50) NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[aperturaPuertas] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genero]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Impuesto]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impuesto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[valor] [decimal](18, 3) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[impuestosEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[impuestosEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idevento] [int] NULL,
	[idimpuesto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[localidad]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Aforo] [int] NULL,
	[IdTipoLocalidad] [int] NULL,
	[FechaCreacion] [smalldatetime] NULL,
	[TicketNumeroInicio] [int] NULL,
	[TicketNumeroFinal] [int] NULL,
	[RangoTickets] [bit] NULL,
	[IdTipoNumeracion] [int] NULL,
	[Consumo] [varchar](100) NULL,
	[ValorConsumo] [money] NULL,
	[Filas] [int] NULL,
	[Sillas] [int] NULL,
	[OrientacionFilas] [varchar](20) NULL,
	[OrientacionSillas] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LocalidadesVenueEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalidadesVenueEvento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVenue] [int] NULL,
	[IdLocalidad] [int] NULL,
	[IdEvento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogPrintTicket]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogPrintTicket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Estado] [varchar](50) NULL,
	[IdTransaccioTicketImpresion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mapas]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NULL,
	[descripcion] [varchar](500) NULL,
	[capacidad] [int] NULL,
	[mapa] [nvarchar](1000) NULL,
	[fechaCreacion] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[mapasVenue]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mapasVenue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idVenue] [int] NULL,
	[idMapa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[paises]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
	[codigo] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[permisos]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[descripcion] [varchar](200) NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[permisos_rol]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permisos_rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idpermiso] [int] NOT NULL,
	[idrol] [int] NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PrintersByComputers]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrintersByComputers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MacAddress] [nvarchar](200) NULL,
	[PrinterName] [varchar](100) NULL,
	[TicketType] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[roles]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[roles_usuario]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles_usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idrol] [int] NOT NULL,
	[idusuario] [int] NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[serviciosEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[serviciosEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idevento] [int] NULL,
	[idservicio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tickets]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[numero] [int] NULL,
	[barcode] [nvarchar](max) NULL,
	[numericBarcode] [varchar](50) NULL,
	[idEstado] [int] NULL,
	[fechaImpresion] [smalldatetime] NULL,
	[idTicketsEvento] [int] NULL,
	[idTicketsEtapa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticketsEtapa]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketsEtapa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLocalidad] [int] NOT NULL,
	[idEtapa] [int] NOT NULL,
	[IdTipoServicio] [int] NULL,
	[Aforo] [int] NULL,
	[Precio] [money] NULL,
 CONSTRAINT [PK_ticketsEtapa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ticketsEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticketsEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idEvento] [int] NULL,
	[cantidad] [int] NULL,
	[inicioNumeracion] [int] NULL,
	[JsonCanvas] [nvarchar](max) NULL,
	[finNumeracion] [int] NULL,
	[ticketType] [varchar](15) NULL,
	[ticketImage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipodocumento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipodocumento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipoempresa]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoempresa](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipoLocalidad]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoLocalidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](200) NULL,
	[fechaCreacion] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipomoneda]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipomoneda](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[codigo] [varchar](10) NOT NULL,
	[simbolo] [varchar](10) NOT NULL,
	[decimales] [int] NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipoNumeracion]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoNumeracion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numeracion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipopago]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipopago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipopersona]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipopersona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoRecaudo]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoRecaudo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoServicio]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoServicio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tipoUsuario]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoUsuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](100) NULL,
	[description] [varchar](200) NULL,
	[createDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[transaccionPullTicketsImpresion]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccionPullTicketsImpresion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [smalldatetime] NULL,
	[Token] [nvarchar](200) NULL,
	[ImagenTicket] [nvarchar](max) NULL,
	[idTicket] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[transaccionTicketsImpresion]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccionTicketsImpresion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idTicket] [int] NULL,
	[token] [nvarchar](500) NULL,
	[fechaImpresion] [smalldatetime] NULL,
	[idEstado] [int] NULL,
	[idTicketEvento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[contrasena] [varchar](80) NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[nombres] [varchar](50) NOT NULL,
	[apellidos] [varchar](50) NOT NULL,
	[direccion] [varchar](200) NULL,
	[telefono] [varchar](30) NULL,
	[fecha] [datetime] NULL,
	[fechacreacion] [datetime] NOT NULL,
	[tipoUsuario_id] [int] NULL,
 CONSTRAINT [PK_usuarios] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[usuarios_portal]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_portal](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[contrasena] [varchar](80) NOT NULL,
	[bloqueado] [bit] NOT NULL,
	[email] [varchar](50) NOT NULL,
	[nombres] [varchar](80) NULL,
	[apellidos] [varchar](50) NULL,
	[fecha] [datetime] NULL,
	[fechacreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_usuarios_portal] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UVT]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UVT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[anio] [int] NOT NULL,
	[valor] [decimal](18, 3) NOT NULL,
	[fechacreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[venue]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[venue](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NULL,
	[direccion] [varchar](500) NULL,
	[ciudad_id] [int] NULL,
	[telefono] [varchar](100) NULL,
	[email] [varchar](200) NULL,
	[foto] [nvarchar](1000) NULL,
	[aforo] [int] NULL,
	[fechaCreacion] [smalldatetime] NULL,
	[Latitud] [varchar](100) NULL,
	[Longitud] [varchar](100) NULL,
	[CityName] [varchar](50) NULL,
	[DepartametName] [varchar](50) NULL,
	[CountryName] [varchar](50) NULL,
	[PostalCode] [varchar](50) NULL,
	[GeoCode] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CanalesVenta] ON 

INSERT [dbo].[CanalesVenta] ([id], [nombre], [fechacreacion]) VALUES (1, N'test', CAST(N'2016-08-23T16:37:00.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[CanalesVenta] OFF
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([id], [nombre], [descripcion], [fechaCreacion], [verCodigoArtesEscenicas]) VALUES (2, N'Música', N'Música', CAST(N'2017-01-16T18:58:00' AS SmallDateTime), 0)
INSERT [dbo].[categorias] ([id], [nombre], [descripcion], [fechaCreacion], [verCodigoArtesEscenicas]) VALUES (3, N'Artes Escénicas', N'Artes Escénicas', CAST(N'2017-01-16T18:59:00' AS SmallDateTime), 0)
INSERT [dbo].[categorias] ([id], [nombre], [descripcion], [fechaCreacion], [verCodigoArtesEscenicas]) VALUES (4, N'Cursos y Talleres', N'Cursos y Talleres', CAST(N'2017-01-16T18:59:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[categorias] OFF
SET IDENTITY_INSERT [dbo].[categoriasEvento] ON 

INSERT [dbo].[categoriasEvento] ([id], [idEvento], [idCategoria]) VALUES (67, 68, 7)
INSERT [dbo].[categoriasEvento] ([id], [idEvento], [idCategoria]) VALUES (68, 69, 7)
INSERT [dbo].[categoriasEvento] ([id], [idEvento], [idCategoria]) VALUES (69, 70, 7)
SET IDENTITY_INSERT [dbo].[categoriasEvento] OFF
SET IDENTITY_INSERT [dbo].[ciudades] ON 

INSERT [dbo].[ciudades] ([id], [nombre], [iddepartamento], [fechacreacion], [codigo]) VALUES (1, N'LA CHORRERA', 1, CAST(N'2016-08-11T07:54:29.313' AS DateTime), N'07')
INSERT [dbo].[ciudades] ([id], [nombre], [iddepartamento], [fechacreacion], [codigo]) VALUES (2, N'LA PEDRERA', 1, CAST(N'2016-08-11T07:54:29.313' AS DateTime), N'20')
INSERT [dbo].[ciudades] ([id], [nombre], [iddepartamento], [fechacreacion], [codigo]) VALUES (3, N'LA VICTORIA', 1, CAST(N'2016-08-11T07:54:29.313' AS DateTime), N'10')
GO
SET IDENTITY_INSERT [dbo].[ciudades] OFF
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id], [tipoPersona_id], [tipoDocumento_id], [identificacion], [primerNombre], [segundoNombre], [primerApellido], [segundoApellido], [fechaNacimiento], [genero_id], [email], [celular], [telefonoCasa], [telefonoOficina], [jornadaEntrega], [idCreatorby], [dateCreated], [idRetiredby], [dateRetired], [idChangedby], [dateChanged], [activo]) VALUES (2, 1, 1, N'8255', N'ghjkgh', NULL, N'hkljhkj', NULL, CAST(N'2018-07-16T14:33:00' AS SmallDateTime), 1, N'jhgkj@gmail.com', N'jihuygjhg', NULL, NULL, N'Mañana', 1, CAST(N'2018-07-16' AS Date), NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[clientes] OFF
SET IDENTITY_INSERT [dbo].[departamentos] ON 

INSERT [dbo].[departamentos] ([id], [nombre], [idpais], [fechacreacion], [codigo]) VALUES (1, N'ANTIOQUIA', 1, CAST(N'2016-08-11T07:54:17.793' AS DateTime), N'01')
INSERT [dbo].[departamentos] ([id], [nombre], [idpais], [fechacreacion], [codigo]) VALUES (2, N'ARAUCA', 1, CAST(N'2016-08-11T07:54:17.797' AS DateTime), N'20')
INSERT [dbo].[departamentos] ([id], [nombre], [idpais], [fechacreacion], [codigo]) VALUES (3, N'ATLÁNTICO', 1, CAST(N'2016-08-11T07:54:17.797' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[departamentos] OFF
SET IDENTITY_INSERT [dbo].[empresarios] ON 

SET IDENTITY_INSERT [dbo].[empresarios] OFF
SET IDENTITY_INSERT [dbo].[EstadoImpresion] ON 

INSERT [dbo].[EstadoImpresion] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (2, N'Impreso', N'Impreso', CAST(N'2017-09-05T23:08:01.763' AS DateTime))
INSERT [dbo].[EstadoImpresion] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (3, N'Disponible', N'Disponible', CAST(N'2017-09-05T23:08:01.777' AS DateTime))
INSERT [dbo].[EstadoImpresion] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (4, N'Impreso-Defectuoso', N'Impreso-Defectuoso', CAST(N'2017-09-05T23:08:01.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[EstadoImpresion] OFF
SET IDENTITY_INSERT [dbo].[etapasVentaEvento] ON 

INSERT [dbo].[etapasVentaEvento] ([id], [nombre], [descripcion], [tipo], [fechaInicial], [fechaFinal], [idevento], [LlevaCodigo], [Codigo]) VALUES (25, N'Lanzamiento', N'dssdhsdjkfjhsdf jk hsdjfh js dhfjk h', NULL, CAST(N'2018-05-26T00:00:00' AS SmallDateTime), CAST(N'2018-05-31T00:00:00' AS SmallDateTime), 68, 1, N'hhuiuiu667676jkjk')
INSERT [dbo].[etapasVentaEvento] ([id], [nombre], [descripcion], [tipo], [fechaInicial], [fechaFinal], [idevento], [LlevaCodigo], [Codigo]) VALUES (26, N'Preventa 1', N'Prueba 2', NULL, CAST(N'2018-06-01T00:00:00' AS SmallDateTime), CAST(N'2018-06-07T00:00:00' AS SmallDateTime), 68, 0, N'')
INSERT [dbo].[etapasVentaEvento] ([id], [nombre], [descripcion], [tipo], [fechaInicial], [fechaFinal], [idevento], [LlevaCodigo], [Codigo]) VALUES (27, N'Etapa Unica', N'123123123', NULL, CAST(N'2018-05-27T20:54:00' AS SmallDateTime), CAST(N'2018-06-29T00:00:00' AS SmallDateTime), 69, 1, N'12312312')
SET IDENTITY_INSERT [dbo].[etapasVentaEvento] OFF
SET IDENTITY_INSERT [dbo].[eventos] ON 

SET IDENTITY_INSERT [dbo].[eventos] OFF
SET IDENTITY_INSERT [dbo].[funcionesEventos] ON 

INSERT [dbo].[funcionesEventos] ([id], [idevento], [fechaIncial], [fechaFinal], [descripcion], [label], [fechaCreacion], [aperturaPuertas]) VALUES (25, 68, CAST(N'2018-06-29T00:00:00' AS SmallDateTime), CAST(N'2018-06-30T00:00:00' AS SmallDateTime), N'qweqwe', N'Funcion Unica', CAST(N'2018-05-25T20:49:00' AS SmallDateTime), CAST(N'2018-05-25T01:30:00' AS SmallDateTime))
INSERT [dbo].[funcionesEventos] ([id], [idevento], [fechaIncial], [fechaFinal], [descripcion], [label], [fechaCreacion], [aperturaPuertas]) VALUES (26, 69, CAST(N'2018-06-29T00:00:00' AS SmallDateTime), CAST(N'2018-06-30T00:00:00' AS SmallDateTime), N'123123', N'Funcion # 1', CAST(N'2018-05-25T20:56:00' AS SmallDateTime), CAST(N'2018-05-25T02:00:00' AS SmallDateTime))
INSERT [dbo].[funcionesEventos] ([id], [idevento], [fechaIncial], [fechaFinal], [descripcion], [label], [fechaCreacion], [aperturaPuertas]) VALUES (27, 70, CAST(N'2018-06-28T17:30:00' AS SmallDateTime), CAST(N'2018-06-29T23:30:00' AS SmallDateTime), N'213213ersre', N'FUncion22', CAST(N'2018-05-27T12:20:00' AS SmallDateTime), CAST(N'2018-05-27T16:30:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[funcionesEventos] OFF
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([id], [nombre], [fechacreacion]) VALUES (1, N'Hombre', CAST(N'2016-08-24T10:48:28.830' AS DateTime))
SET IDENTITY_INSERT [dbo].[Genero] OFF
SET IDENTITY_INSERT [dbo].[Impuesto] ON 

INSERT [dbo].[Impuesto] ([id], [nombre], [valor], [fechacreacion]) VALUES (1, N'IVA', CAST(16.000 AS Decimal(18, 3)), CAST(N'2016-08-24T10:48:56.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[Impuesto] OFF
SET IDENTITY_INSERT [dbo].[impuestosEvento] ON 

INSERT [dbo].[impuestosEvento] ([id], [idevento], [idimpuesto]) VALUES (35, 68, 1)
INSERT [dbo].[impuestosEvento] ([id], [idevento], [idimpuesto]) VALUES (36, 69, 1)
INSERT [dbo].[impuestosEvento] ([id], [idevento], [idimpuesto]) VALUES (37, 70, 1)
SET IDENTITY_INSERT [dbo].[impuestosEvento] OFF
SET IDENTITY_INSERT [dbo].[localidad] ON 

INSERT [dbo].[localidad] ([Id], [Nombre], [Aforo], [IdTipoLocalidad], [FechaCreacion], [TicketNumeroInicio], [TicketNumeroFinal], [RangoTickets], [IdTipoNumeracion], [Consumo], [ValorConsumo], [Filas], [Sillas], [OrientacionFilas], [OrientacionSillas]) VALUES (89, N'Localidad # 1', 3000, 1, CAST(N'2018-05-25T20:49:00' AS SmallDateTime), 1, NULL, 1, NULL, N'Cereveza', 20000.0000, 0, 0, NULL, NULL)
INSERT [dbo].[localidad] ([Id], [Nombre], [Aforo], [IdTipoLocalidad], [FechaCreacion], [TicketNumeroInicio], [TicketNumeroFinal], [RangoTickets], [IdTipoNumeracion], [Consumo], [ValorConsumo], [Filas], [Sillas], [OrientacionFilas], [OrientacionSillas]) VALUES (90, N'FIlas y Sillas', 200, 2, CAST(N'2018-05-25T20:49:00' AS SmallDateTime), NULL, NULL, 0, NULL, N'Cerveza', 23000.0000, 20, 10, N'Up-Down', N'R-L')
INSERT [dbo].[localidad] ([Id], [Nombre], [Aforo], [IdTipoLocalidad], [FechaCreacion], [TicketNumeroInicio], [TicketNumeroFinal], [RangoTickets], [IdTipoNumeracion], [Consumo], [ValorConsumo], [Filas], [Sillas], [OrientacionFilas], [OrientacionSillas]) VALUES (91, N'Mesas y Sillas', 300, 3, CAST(N'2018-05-25T20:49:00' AS SmallDateTime), NULL, NULL, 0, NULL, N'Consumo', 21312.0000, 30, 10, NULL, NULL)
SET IDENTITY_INSERT [dbo].[localidad] OFF
SET IDENTITY_INSERT [dbo].[LocalidadesVenueEvento] ON 

INSERT [dbo].[LocalidadesVenueEvento] ([Id], [IdVenue], [IdLocalidad], [IdEvento]) VALUES (20, 45, 89, 68)
INSERT [dbo].[LocalidadesVenueEvento] ([Id], [IdVenue], [IdLocalidad], [IdEvento]) VALUES (21, 45, 90, 68)
INSERT [dbo].[LocalidadesVenueEvento] ([Id], [IdVenue], [IdLocalidad], [IdEvento]) VALUES (22, 45, 91, 68)
SET IDENTITY_INSERT [dbo].[LocalidadesVenueEvento] OFF
SET IDENTITY_INSERT [dbo].[LogPrintTicket] ON 

INSERT [dbo].[LogPrintTicket] ([id], [Descripcion], [Estado], [IdTransaccioTicketImpresion]) VALUES (1, N'Se inicia el proceso', N'ENPROCESO', NULL)
INSERT [dbo].[LogPrintTicket] ([id], [Descripcion], [Estado], [IdTransaccioTicketImpresion]) VALUES (2, N'Proseso Iniciado', N'ENPROCESO', NULL)
INSERT [dbo].[LogPrintTicket] ([id], [Descripcion], [Estado], [IdTransaccioTicketImpresion]) VALUES (3, N'Impresion iniciada: Consultando la informacion de la transaccion a imprimir', N'ENPROCESO', NULL)
SET IDENTITY_INSERT [dbo].[LogPrintTicket] OFF
SET IDENTITY_INSERT [dbo].[paises] ON 

INSERT [dbo].[paises] ([id], [nombre], [fechacreacion], [codigo]) VALUES (1, N'COLOMBIA', CAST(N'2016-08-11T07:53:52.120' AS DateTime), N'01')
SET IDENTITY_INSERT [dbo].[paises] OFF
SET IDENTITY_INSERT [dbo].[ticketsEtapa] ON 

INSERT [dbo].[ticketsEtapa] ([id], [idLocalidad], [idEtapa], [IdTipoServicio], [Aforo], [Precio]) VALUES (43, 89, 25, 6, 1500, 25000.0000)
INSERT [dbo].[ticketsEtapa] ([id], [idLocalidad], [idEtapa], [IdTipoServicio], [Aforo], [Precio]) VALUES (44, 89, 26, 4, 1500, 200000.0000)
INSERT [dbo].[ticketsEtapa] ([id], [idLocalidad], [idEtapa], [IdTipoServicio], [Aforo], [Precio]) VALUES (45, 92, 26, 5, 50, 1000000.0000)
SET IDENTITY_INSERT [dbo].[ticketsEtapa] OFF
SET IDENTITY_INSERT [dbo].[ticketsEvento] ON 

INSERT [dbo].[ticketsEvento] ([id], [idEvento], [cantidad], [inicioNumeracion], [JsonCanvas], [finNumeracion], [ticketType], [ticketImage]) VALUES (21, 70, 4996, 0, N'', 0, N'grande', NULL)
SET IDENTITY_INSERT [dbo].[ticketsEvento] OFF
SET IDENTITY_INSERT [dbo].[tipodocumento] ON 

INSERT [dbo].[tipodocumento] ([id], [nombre], [codigo], [fechacreacion]) VALUES (1, N'Cedula', N'CC', CAST(N'2016-08-22T07:57:03.513' AS DateTime))
INSERT [dbo].[tipodocumento] ([id], [nombre], [codigo], [fechacreacion]) VALUES (2, N'Nit', N'NIT', CAST(N'2016-08-22T07:57:03.530' AS DateTime))
INSERT [dbo].[tipodocumento] ([id], [nombre], [codigo], [fechacreacion]) VALUES (3, N'Tarjeta Identidad', N'TI', CAST(N'2016-08-22T07:57:03.530' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipodocumento] OFF
SET IDENTITY_INSERT [dbo].[tipoempresa] ON 

INSERT [dbo].[tipoempresa] ([id], [nombre], [codigo], [fechacreacion]) VALUES (1, N'Eventos', N'Eventos', CAST(N'2016-08-20T07:14:37.383' AS DateTime))
INSERT [dbo].[tipoempresa] ([id], [nombre], [codigo], [fechacreacion]) VALUES (2, N'Control', N'Control', CAST(N'2016-08-20T07:14:37.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipoempresa] OFF
SET IDENTITY_INSERT [dbo].[TipoEvento] ON 

INSERT [dbo].[TipoEvento] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (1, N'TE1', N'DES', CAST(N'2016-08-24T10:49:52.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoEvento] OFF
SET IDENTITY_INSERT [dbo].[tipoLocalidad] ON 

INSERT [dbo].[tipoLocalidad] ([id], [nombre], [descripcion], [fechaCreacion]) VALUES (1, N'Aforo', N'Aforo', CAST(N'2017-01-30T22:55:00' AS SmallDateTime))
INSERT [dbo].[tipoLocalidad] ([id], [nombre], [descripcion], [fechaCreacion]) VALUES (2, N'Filas y Sillas', N'Filas y Columnas', CAST(N'2017-01-30T22:55:00' AS SmallDateTime))
INSERT [dbo].[tipoLocalidad] ([id], [nombre], [descripcion], [fechaCreacion]) VALUES (3, N'Mesas y Sillas', N'Mesas y Sillas', CAST(N'2017-01-30T22:55:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[tipoLocalidad] OFF
SET IDENTITY_INSERT [dbo].[tipomoneda] ON 

INSERT [dbo].[tipomoneda] ([id], [nombre], [codigo], [simbolo], [decimales], [fechacreacion]) VALUES (1, N'Peso Colombiano', N'COP', N'$', 3, CAST(N'2016-08-23T16:26:51.147' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipomoneda] OFF
SET IDENTITY_INSERT [dbo].[tipoNumeracion] ON 

INSERT [dbo].[tipoNumeracion] ([Id], [Numeracion]) VALUES (1, N'A-Z, A-Z')
INSERT [dbo].[tipoNumeracion] ([Id], [Numeracion]) VALUES (2, N'0-1, A-Z')
INSERT [dbo].[tipoNumeracion] ([Id], [Numeracion]) VALUES (3, N'A-Z, 0-1')
SET IDENTITY_INSERT [dbo].[tipoNumeracion] OFF
SET IDENTITY_INSERT [dbo].[tipopago] ON 

INSERT [dbo].[tipopago] ([id], [nombre], [fechacreacion]) VALUES (1, N'Efectivo', CAST(N'2016-08-11T08:21:28.110' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipopago] OFF
SET IDENTITY_INSERT [dbo].[tipopersona] ON 

INSERT [dbo].[tipopersona] ([id], [nombre], [fechacreacion]) VALUES (1, N'Natural', CAST(N'2016-08-22T07:58:09.697' AS DateTime))
INSERT [dbo].[tipopersona] ([id], [nombre], [fechacreacion]) VALUES (2, N'Juridica', CAST(N'2016-08-22T07:58:09.723' AS DateTime))
SET IDENTITY_INSERT [dbo].[tipopersona] OFF
SET IDENTITY_INSERT [dbo].[TipoRecaudo] ON 

INSERT [dbo].[TipoRecaudo] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (1, N'Recaudo 1', N'Recaudo 1', CAST(N'2017-02-01T23:29:43.647' AS DateTime))
INSERT [dbo].[TipoRecaudo] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (2, N'Recaudo 2', N'Recaudo 2', CAST(N'2017-02-01T23:29:43.647' AS DateTime))
INSERT [dbo].[TipoRecaudo] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (3, N'Recaudo 3', N'Recaudo 3', CAST(N'2017-02-01T23:29:43.650' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoRecaudo] OFF
SET IDENTITY_INSERT [dbo].[TipoServicio] ON 

INSERT [dbo].[TipoServicio] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (1, N'T1', N'D1', CAST(N'2016-08-24T10:49:24.003' AS DateTime))
INSERT [dbo].[TipoServicio] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (2, N'Servicio 1', N'Servicio 1', CAST(N'2017-01-29T16:16:14.780' AS DateTime))
INSERT [dbo].[TipoServicio] ([id], [nombre], [descripcion], [fechacreacion]) VALUES (3, N'Servicio 2', N'Servicio 2', CAST(N'2017-01-29T16:16:14.783' AS DateTime))
SET IDENTITY_INSERT [dbo].[TipoServicio] OFF
SET IDENTITY_INSERT [dbo].[tipoUsuario] ON 

INSERT [dbo].[tipoUsuario] ([id], [code], [description], [createDate]) VALUES (2, N'001', N'Tipo 1', CAST(N'2016-12-27T12:21:00' AS SmallDateTime))
INSERT [dbo].[tipoUsuario] ([id], [code], [description], [createDate]) VALUES (3, N'002', N'Tipo 2', CAST(N'2016-12-27T12:21:00' AS SmallDateTime))
INSERT [dbo].[tipoUsuario] ([id], [code], [description], [createDate]) VALUES (4, N'003', N'Tipo 3', CAST(N'2016-12-27T12:21:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[tipoUsuario] OFF
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [nombre], [contrasena], [bloqueado], [email], [nombres], [apellidos], [direccion], [telefono], [fecha], [fechacreacion], [tipoUsuario_id]) VALUES (1, N'admin', N'123', 0, N'admin@gmail.com', N'David', N'Vivas', N'ND', N'XXXX', NULL, CAST(N'2016-08-10T13:06:33.213' AS DateTime), NULL)
INSERT [dbo].[usuarios] ([id], [nombre], [contrasena], [bloqueado], [email], [nombres], [apellidos], [direccion], [telefono], [fecha], [fechacreacion], [tipoUsuario_id]) VALUES (2, N'Usuario', N'123', 0, N'correo@correo.com', N'Mario', N'Bendetti', N'Cra 23', N'12332112', CAST(N'2000-12-06T00:00:00.000' AS DateTime), CAST(N'2016-12-27T12:26:23.543' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
SET IDENTITY_INSERT [dbo].[UVT] ON 

INSERT [dbo].[UVT] ([id], [anio], [valor], [fechacreacion]) VALUES (1, 2000, CAST(12000.000 AS Decimal(18, 3)), CAST(N'2016-08-24T10:51:16.067' AS DateTime))
INSERT [dbo].[UVT] ([id], [anio], [valor], [fechacreacion]) VALUES (2, 3, CAST(1.000 AS Decimal(18, 3)), CAST(N'2016-12-14T08:49:55.570' AS DateTime))
SET IDENTITY_INSERT [dbo].[UVT] OFF
SET IDENTITY_INSERT [dbo].[venue] ON 

INSERT [dbo].[venue] ([id], [nombre], [direccion], [ciudad_id], [telefono], [email], [foto], [aforo], [fechaCreacion], [Latitud], [Longitud], [CityName], [DepartametName], [CountryName], [PostalCode], [GeoCode]) VALUES (45, N'Parque Norte', N'Parque Norte, Medellín, Antioquia, Colombia', NULL, N'12321312', N'caaluna@gmai.com', NULL, 0, NULL, N'6.272664599999999', N'-75.56878919999997', N'', N'Antioquia', N'Colombia', N'050010', N'ChIJ1wnwINwoRI4RsrkY66o1MOo')
INSERT [dbo].[venue] ([id], [nombre], [direccion], [ciudad_id], [telefono], [email], [foto], [aforo], [fechaCreacion], [Latitud], [Longitud], [CityName], [DepartametName], [CountryName], [PostalCode], [GeoCode]) VALUES (46, N'Paque de las aguas', N'Parque de Las Aguas, Barbosa, Antioquia, Colombia', NULL, N'232324', N'caaluna@gmai.com', NULL, 0, NULL, N'6.406612099999999', N'-75.4226658', N'', N'Antioquia', N'Colombia', N'051027', N'ChIJozbe1_c8RI4RJpk5rwitF8I')
INSERT [dbo].[venue] ([id], [nombre], [direccion], [ciudad_id], [telefono], [email], [foto], [aforo], [fechaCreacion], [Latitud], [Longitud], [CityName], [DepartametName], [CountryName], [PostalCode], [GeoCode]) VALUES (47, N'Parque Norte', N'Carrera 50B #123-25, Medellín, Antioquia, Colombia', 81, N'123123', N'caaluna@gmai.com', NULL, 0, NULL, N'6.306419500000001', N'-75.55268619999998', N'Medellín', N'Antioquia', N'Colombia', N'050001', N'ChIJo52SEj8vRI4REPirq1QFG7o')
SET IDENTITY_INSERT [dbo].[venue] OFF
ALTER TABLE [dbo].[CanalesVenta] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[ciudades] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[departamentos] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[EstadoImpresion] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[Genero] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[Impuesto] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[paises] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[permisos] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[permisos_rol] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[roles] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[roles_usuario] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[tipodocumento] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[tipoempresa] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[TipoEvento] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[tipomoneda] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[tipopago] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[tipopersona] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[TipoRecaudo] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[TipoServicio] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[usuarios] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[usuarios_portal] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[UVT] ADD  DEFAULT (getdate()) FOR [fechacreacion]
GO
ALTER TABLE [dbo].[canalesVentaEvento]  WITH CHECK ADD FOREIGN KEY([idcanal])
REFERENCES [dbo].[CanalesVenta] ([id])
GO
ALTER TABLE [dbo].[canalesVentaEvento]  WITH CHECK ADD FOREIGN KEY([idevento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categoriasEvento]  WITH CHECK ADD FOREIGN KEY([idEvento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[categoriasEvento]  WITH CHECK ADD  CONSTRAINT [FK_categoriasEvento_categorias] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[categorias] ([id])
GO
ALTER TABLE [dbo].[categoriasEvento] CHECK CONSTRAINT [FK_categoriasEvento_categorias]
GO
ALTER TABLE [dbo].[ciudades]  WITH CHECK ADD  CONSTRAINT [FK_Ciudades_Departamentos] FOREIGN KEY([iddepartamento])
REFERENCES [dbo].[departamentos] ([id])
GO
ALTER TABLE [dbo].[ciudades] CHECK CONSTRAINT [FK_Ciudades_Departamentos]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK__clientes__genero__06CD04F7] FOREIGN KEY([genero_id])
REFERENCES [dbo].[Genero] ([id])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK__clientes__genero__06CD04F7]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK__clientes__tipoDo__07C12930] FOREIGN KEY([tipoDocumento_id])
REFERENCES [dbo].[tipodocumento] ([id])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK__clientes__tipoDo__07C12930]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [FK__clientes__tipoPe__08B54D69] FOREIGN KEY([tipoPersona_id])
REFERENCES [dbo].[tipopersona] ([id])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [FK__clientes__tipoPe__08B54D69]
GO
ALTER TABLE [dbo].[departamentos]  WITH CHECK ADD  CONSTRAINT [FK_Departamentos_Paises] FOREIGN KEY([idpais])
REFERENCES [dbo].[paises] ([id])
GO
ALTER TABLE [dbo].[departamentos] CHECK CONSTRAINT [FK_Departamentos_Paises]
GO
ALTER TABLE [dbo].[direccionesClientes]  WITH CHECK ADD  CONSTRAINT [FK__direccion__ciuda__0A9D95DB] FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[ciudades] ([id])
GO
ALTER TABLE [dbo].[direccionesClientes] CHECK CONSTRAINT [FK__direccion__ciuda__0A9D95DB]
GO
ALTER TABLE [dbo].[direccionesClientes]  WITH CHECK ADD  CONSTRAINT [FK__direccion__clien__0B91BA14] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[direccionesClientes] CHECK CONSTRAINT [FK__direccion__clien__0B91BA14]
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([ciudad_idRL])
REFERENCES [dbo].[ciudades] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[ciudades] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([sexo_idRL])
REFERENCES [dbo].[Genero] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([tipoDocumentoRL_id])
REFERENCES [dbo].[tipodocumento] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([tipoDocumento_id])
REFERENCES [dbo].[tipodocumento] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([tipoEmpresa_id])
REFERENCES [dbo].[tipoempresa] ([id])
GO
ALTER TABLE [dbo].[empresarios]  WITH CHECK ADD FOREIGN KEY([tipoPersona_id])
REFERENCES [dbo].[tipopersona] ([id])
GO
ALTER TABLE [dbo].[etapasVentaEvento]  WITH CHECK ADD FOREIGN KEY([idevento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[eventos]  WITH CHECK ADD FOREIGN KEY([empresario_id])
REFERENCES [dbo].[empresarios] ([id])
GO
ALTER TABLE [dbo].[eventos]  WITH CHECK ADD FOREIGN KEY([tipoEvento])
REFERENCES [dbo].[TipoEvento] ([id])
GO
ALTER TABLE [dbo].[eventos]  WITH CHECK ADD FOREIGN KEY([tipoRecaudo_id])
REFERENCES [dbo].[TipoRecaudo] ([id])
GO
ALTER TABLE [dbo].[funcionesEventos]  WITH CHECK ADD FOREIGN KEY([idevento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[impuestosEvento]  WITH CHECK ADD FOREIGN KEY([idevento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[impuestosEvento]  WITH CHECK ADD FOREIGN KEY([idimpuesto])
REFERENCES [dbo].[Impuesto] ([id])
GO
ALTER TABLE [dbo].[localidad]  WITH CHECK ADD FOREIGN KEY([IdTipoNumeracion])
REFERENCES [dbo].[tipoNumeracion] ([Id])
GO
ALTER TABLE [dbo].[localidad]  WITH CHECK ADD FOREIGN KEY([IdTipoLocalidad])
REFERENCES [dbo].[tipoLocalidad] ([id])
GO
ALTER TABLE [dbo].[LocalidadesVenueEvento]  WITH CHECK ADD FOREIGN KEY([IdEvento])
REFERENCES [dbo].[eventos] ([id])
GO
ALTER TABLE [dbo].[LocalidadesVenueEvento]  WITH CHECK ADD FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[localidad] ([Id])
GO
ALTER TABLE [dbo].[LocalidadesVenueEvento]  WITH CHECK ADD FOREIGN KEY([IdVenue])
REFERENCES [dbo].[venue] ([id])
GO
ALTER TABLE [dbo].[LogPrintTicket]  WITH CHECK ADD FOREIGN KEY([IdTransaccioTicketImpresion])
REFERENCES [dbo].[transaccionTicketsImpresion] ([id])
GO
ALTER TABLE [dbo].[mapasVenue]  WITH CHECK ADD FOREIGN KEY([idMapa])
REFERENCES [dbo].[mapas] ([id])
GO
ALTER TABLE [dbo].[mapasVenue]  WITH CHECK ADD FOREIGN KEY([idVenue])
REFERENCES [dbo].[venue] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[permisos_rol]  WITH CHECK ADD  CONSTRAINT [fk_permisos_rol_permisos] FOREIGN KEY([idpermiso])
REFERENCES [dbo].[permisos] ([id])
GO
ALTER TABLE [dbo].[permisos_rol] CHECK CONSTRAINT [fk_permisos_rol_permisos]
GO
ALTER TABLE [dbo].[permisos_rol]  WITH CHECK ADD  CONSTRAINT [fk_permisos_rol_roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[permisos_rol] CHECK CONSTRAINT [fk_permisos_rol_roles]
GO
ALTER TABLE [dbo].[roles_usuario]  WITH CHECK ADD  CONSTRAINT [fk_roles_usuario_roles] FOREIGN KEY([idrol])
REFERENCES [dbo].[roles] ([id])
GO
ALTER TABLE [dbo].[roles_usuario] CHECK CONSTRAINT [fk_roles_usuario_roles]
GO
ALTER TABLE [dbo].[roles_usuario]  WITH CHECK ADD  CONSTRAINT [fk_roles_usuario_usuarios] FOREIGN KEY([idusuario])
REFERENCES [dbo].[usuarios] ([id])
GO
ALTER TABLE [dbo].[roles_usuario] CHECK CONSTRAINT [fk_roles_usuario_usuarios]
GO
ALTER TABLE [dbo].[serviciosEvento]  WITH CHECK ADD FOREIGN KEY([idevento])
REFERENCES [dbo].[eventos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[serviciosEvento]  WITH CHECK ADD FOREIGN KEY([idservicio])
REFERENCES [dbo].[TipoServicio] ([id])
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[EstadoImpresion] ([id])
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_ticketsEtapa] FOREIGN KEY([idTicketsEtapa])
REFERENCES [dbo].[ticketsEtapa] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_ticketsEtapa]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_ticketsEvento] FOREIGN KEY([idTicketsEvento])
REFERENCES [dbo].[ticketsEvento] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_ticketsEvento]
GO
ALTER TABLE [dbo].[ticketsEtapa]  WITH CHECK ADD FOREIGN KEY([IdTipoServicio])
REFERENCES [dbo].[TipoServicio] ([id])
GO
ALTER TABLE [dbo].[ticketsEtapa]  WITH CHECK ADD  CONSTRAINT [FK_ticketsEtapa_etapasVentaEvento] FOREIGN KEY([idEtapa])
REFERENCES [dbo].[etapasVentaEvento] ([id])
GO
ALTER TABLE [dbo].[ticketsEtapa] CHECK CONSTRAINT [FK_ticketsEtapa_etapasVentaEvento]
GO
ALTER TABLE [dbo].[ticketsEtapa]  WITH CHECK ADD  CONSTRAINT [FK_ticketsEtapa_localidad] FOREIGN KEY([idLocalidad])
REFERENCES [dbo].[localidad] ([Id])
GO
ALTER TABLE [dbo].[ticketsEtapa] CHECK CONSTRAINT [FK_ticketsEtapa_localidad]
GO
ALTER TABLE [dbo].[ticketsEvento]  WITH CHECK ADD FOREIGN KEY([idEvento])
REFERENCES [dbo].[eventos] ([id])
GO
ALTER TABLE [dbo].[transaccionPullTicketsImpresion]  WITH CHECK ADD FOREIGN KEY([idTicket])
REFERENCES [dbo].[EstadoImpresion] ([id])
GO
ALTER TABLE [dbo].[transaccionTicketsImpresion]  WITH CHECK ADD FOREIGN KEY([idEstado])
REFERENCES [dbo].[EstadoImpresion] ([id])
GO
ALTER TABLE [dbo].[transaccionTicketsImpresion]  WITH CHECK ADD FOREIGN KEY([idTicket])
REFERENCES [dbo].[tickets] ([id])
GO
ALTER TABLE [dbo].[transaccionTicketsImpresion]  WITH CHECK ADD  CONSTRAINT [FK_transaccionTicketsImpresion_ticketsEvento] FOREIGN KEY([idTicketEvento])
REFERENCES [dbo].[ticketsEvento] ([id])
GO
ALTER TABLE [dbo].[transaccionTicketsImpresion] CHECK CONSTRAINT [FK_transaccionTicketsImpresion_ticketsEvento]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD FOREIGN KEY([tipoUsuario_id])
REFERENCES [dbo].[tipoUsuario] ([id])
GO
ALTER TABLE [dbo].[venue]  WITH CHECK ADD FOREIGN KEY([ciudad_id])
REFERENCES [dbo].[ciudades] ([id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ResetLocalidad]    Script Date: 16/09/2018 3:56:07 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_ResetLocalidad](
	@LocalidadID int
) as begin
	delete from sillas where id in (select idSilla from mesasFilasSillas where idMesasFilas in (select id from mesasFilas where id in (select idMesasFilas from localidadMesasFilasSillas where idLocalidad = @LocalidadID)))
	delete from mesasFilasSillas where idMesasFilas in (select id from mesasFilas where id in (select idMesasFilas from localidadMesasFilasSillas where idLocalidad = @LocalidadID))
	delete from mesasFilas where id in (select idMesasFilas from localidadMesasFilasSillas where idLocalidad = @LocalidadID)
	delete from localidadMesasFilasSillas where idLocalidad = @LocalidadID
end


GO
